<div class="course-card" *ngIf="course" #container>

  <div class="course-title">
    
    <course-title [title]="course().description"></course-title>
  
  </div>

  <ng-content select="course-image"
              *ngIf="course().iconUrl"></ng-content>

  <div class="course-description">

    Edit Title: <input #courseTitle [value]="course().description" (keyup)="onTitleChanged(courseTitle.value)">

  </div>

  <div class="course-category">

    <div class="category" i18n>

      {
        course().category,
        select, 
        BEGINNER {Beginner}
        INTERMEDIATE {Intermediate}
        ADVANCED {Advanced}
      }

      <!-- {
        course.category, // This is going to trigger our alternative choice in this case
        select, // this indicates a selection of alternative expressions
        BEGINNER {Beginner} // Multiple cases we have avaailable for our expression
        INTERMEDIATE {Intermediate}
        ADVANCED {Advanced}
      } -->

    </div>

  </div>

  <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>

</div>






