<ng-container #container> <!-- Instead of creating an extra 'div' use this tag, since it won't create an extra DOM node -->
    @if (course) {
  <div class="course-card"> <!-- [ngClass]="cardClasses()" applies classes conditionally-->
    <div class="course-title">
      {{ cardIndex || 'cardIndex not found -' }} {{ course.description }}
    </div>
    
    <!-- The CSS select will restrict what elements will be displayed, for instance, we only get the img using: select="img" -->
     <!-- We can also restrict the content to display using classes, for instance: select=".course-img" i.e, we can display multiple elements -->
    <ng-content select="course-image" *ngIf="course.iconUrl; else noImage"></ng-content> <!-- This is used to display the image from app.component.html inside the 'course-card' tag -->

    <ng-template #noImage>
        <ng-container *ngTemplateOutlet="noImageTemplate; context: { description: course.description }"></ng-container>
    </ng-template>

    <ng-content select=".course-description"></ng-content>

    <ng-content></ng-content> <!-- by not specifying 'select', this will display all of the remainder content from the component -->

    <ng-container [ngSwitch]="course.category">
        <div class="course-category">
            <ng-container *ngSwitchCase="'BEGINNER'">
                <div class="category">Beginner</div>
            </ng-container>

            <ng-container *ngSwitchCase="'INTERMEDIATE'">
                <div class="category">Intermediate</div>
            </ng-container>

            <ng-container *ngSwitchCase="'ADVANCED'">
                <div class="category">Advanced</div>
            </ng-container>
    
            <ng-container *ngSwitchDefault>
                <div class="category">All levels</div>
            </ng-container>
        </div>
    </ng-container>


    <button (click)="onCourseViewed()" >View course</button>
  </div>
}
</ng-container>