<ng-container> <!-- Instead of creating an extra 'div' use this tag, since it won't create an extra DOM node -->
    @if (course) {
  <div class="course-card" [ngClass]="cardClasses()"> <!--[ngStyle]="cardStyles()"--> 
    <div class="course-title">
      {{cardIndex}} {{ course.description }}
    </div>
    @if (isImageVisible()) {
      <img width="300" alt="Angular Logo"
        [src]="course.iconUrl">
    } @else {
      <b><p>No image is available.</p></b>
    }
    <div class="course-description">
      {{ course.longDescription }}
    </div>

    <ng-container [ngSwitch]="course.category">
        <div class="course-category">
            <ng-container *ngSwitchCase="'BEGINNER'">
                <div class="category">Beginner</div>
            </ng-container>

            <ng-container *ngSwitchCase="'INTERMEDIATE'">
                <div class="category">Intermediate</div>
            </ng-container>

            <ng-container *ngSwitchCase="'ADVANCED'">
                <div class="category">Advanced</div>
            </ng-container>
    
            <ng-container *ngSwitchDefault>
                <div class="category">All levels</div>
            </ng-container>
        </div>
    </ng-container>


    <button (click)="onCourseViewed()" >View course</button>
  </div>
}
</ng-container>