<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div class="demo">
    <button (click)="onEditCourse()" i18n>Edit Course</button>
    
    <div i18n>{coursesTotal, plural, =0 {No courses available.} =1 {One course is available.} other {A total of {{coursesTotal}} courses are available.}}</div>
    
  </div>

  <!-- @Differ will allow us to control exactly when and if a given section of the page is loaded from the server and even
        displayed to the user, it supports a wide variety of advanced use cases.
        @Defer allows us to separate parts of our template into a separte Js bundle that gets loaded separately. 
        We have 2 levels of control: 
        - First: We can control WHEN the bundle is prefetched in the backgorund and we can also control if 
          the bundle is prefetched at all.
        - Second: Is to define when the section that was preloaded in the background, when will it be applied to the page 
          and displayed to the user. -->
  @defer () { 
    <div class="courses">
      
      @for (course of courses; track $index) {
        
        <course-card
          [course]="course"
          (courseChanged)="save($event)"
          type="beginner"> <!--Another input property-->
    
          <course-image [src]="course.iconUrl"></course-image>
    
        </course-card>
  
      }
  
    </div>
    
  }
  <!-- Placeholder is used to show the user a messsage or something before showing up the actual content within @defer() -->
   <!-- we use "minimum 3s" to give it 3 seconds to the placeholder to appear before showing the actual content -->
    <!-- IS NOT A loading indicator, it could be some simplified content, some simplified version of the functionality that we
          are defer loading. It would'n have heavy dependencies or logic, it could be a button or a demo of actual functionality  -->
            <!-- Summary, @defear is kinda lazy loading, otherwise, @placeholder is kinda eager loading -->
  @placeholder {

    <h2>This is the placeholder content!</h2>
  }
  <!-- Instead of using placeholder to simulate a loading indicator, we use the @loading block  -->
   <!-- "(minimum 3s; after 1s)" means if the loading process in the background takes more than one second then, and only then
          show the loading indicator, and if you show it, it should be for a minimum of three seconds, buuuut if the loading
           process takes more than one second, then the loading indicator never gets shown at all -->
           <!-- The above said, ensures that if the loading of the deferred block happens very fast, then, thanks to the after
                1s condition, the loading indicator will not even be shown to the user. -->
                <!-- Summary, if it ever gets shown to the user, then it will be shown for a minimum of 3 seconds, but it will
                      only be shown if the loading process takes more than 1 second. -->
   @loading (after 1s; minimum 3s) {

    <h2>This is a loading indicator...</h2>
   }


</div>




