<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div>
    <!-- We need to call the signal variable by calling it like if it was a function -->
    <div>Counter value: {{ counterService.counter() }}</div>

    <div>Derived value: {{ derivedCounter() }}</div>

    <button (click)="increment()">Increment</button>

  </div>

  <label>
    Battery
    <meter 
    value="85"
    min="0"
    max="100"
    low="30"
    high="80"
    optimum="100"></meter>
  </label>

</div>




